<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/yb.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/yb.ico" type="image/x-icon">
    <title>Linealización exponencial</title>
    <link rel="stylesheet" href="/static/LinExpo.css">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <h1>Linealización exponencial</h1>

    <form id="formulario">
        <p>Ingrese un conjunto de puntos (x, y) separados por comas:</p>
        <textarea id="input-points" placeholder="Ejemplo:\n1,2\n3,5\n9,5" rows="16"></textarea>
        <button type="submit">Calcular</button>
    </form>

    <h2>Resultado Linealización</h2>
    <img id="grafica" alt="Gráfica del método de linealización exponencial" style="display:none;">
    <div id="error"></div>

    <footer>
        <p>© 2025 Calculadora de Métodos Numéricos. Todos los derechos reservados.</p>
    </footer>
    
    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
            event.preventDefault();
            calcularExponencial(); 
        });

        async function calcularExponencial() {
            const input = document.getElementById('input-points').value;
            const points = input.split('\n').map(line => {
                const [x, y] = line.split(',').map(Number);
                if (isNaN(x) || isNaN(y)) {
                    return null;
                }
                return [x, y];
            }).filter(Boolean); 
    
            try {
                const response = await fetch('/exponencial', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ puntos: points})
                });

                const result = await response.json();

                if (response.ok) {
                    document.getElementById('grafica').src = `data:image/png;base64,${result.grafico_base64}`;
                    document.getElementById('grafica').style.display = 'block';
                    document.getElementById('error').innerHTML = `<br><p>R^2 es igual a: ${result.r2}</p>`;
                } else {
                    document.getElementById('error').innerHTML = `<p style="color:red;">Error: ${result.error}</p>`;
                }
            } catch (error) {
                document.getElementById('result').innerHTML = `<p style="color:red;">Error en la conexión con el servidor.</p><p>${error}</p>`;
            }
        }
    </script>
</body>
</html>