@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 50px;;
    color: #321aa0;
    margin-bottom: 15px;
}

h2, h3 {
    color: #1b0d57;
    margin-bottom: 15px;
}

form {
    background: white;
    color: #1b0d57;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 30px auto;

    border: 2px solid rgb(250, 69, 211);
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      box-shadow: 
        0 0 5px rgb(247, 67, 172),
        0 0 10px rgb(247, 67, 172),
        0 0 20px rgb(247, 67, 172),
        0 0 30px rgb(182, 8, 109);
      transition: 0.3s ease;

}

label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #d80090;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #f062b9;
    transform: scale(0.9);
    box-shadow: 0 4px 10px rgb(255, 0, 234);
}

#step2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

#inputsContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#inputsContainer label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

#inputsContainer input {
    flex: 2;
}

.result {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0077b6;
    color: white;
}

#grafica {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}