<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/yb.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/yb.ico" type="image/x-icon">
    
    <title>Métodos Numéricos</title>
    <link rel="stylesheet" href="/static/inicio.css">
</head>
<body>
    <div class="banner">
        <img src="/static/Y-BOYS.png" alt="Logo" id="logo">
    </div>
    <h1>Métodos Numéricos</h1>
    <div class="container">
        {% for categoria in rutas %}
        <div class="categoria">
            <div class="categoria-header">
                <h3>{{ categoria.categoria }}</h3>
                <span class="toggle">+</span>
            </div>
            <div class="metodos">
                {% for metodo in categoria.metodos %}
                <div class="metodo">
                    <a href="{{ metodo.url }}">{{ metodo.nombre }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const categorias = document.querySelectorAll(".categoria-header");

        categorias.forEach((categoria) => {
            categoria.addEventListener("click", () => {
                const parent = categoria.parentElement;
                parent.classList.toggle("active");
            });
        });
    });
    </script>
</body>
</html>