<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Numéricos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Métodos Numéricos con Flask</h1>
    <br>
    <form id="formulario">
        <label for="puntos">Ingresa pares de puntos (x, y), separados por comas, una pareja por línea:</label>
        <br><br>
        <textarea id="puntos" rows="10" placeholder="Ejemplo:\n1,2\n3,5\n9,5"></textarea>
        <br><br>
        <button type="submit">Calcular Interpolación</button>
    </form>
    <p id="resultado"></p>
    
    <p id="resultado"></p>
    <script src="/static/script.js"></script>
</body>
</html>
