<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serie Taylor</title>
</head>
<body>
    <h1>Serie De Taylor</h1>

    <form id="formulario">
        <label for="funcion">Ingrese la función en términos de x: </label>
        <input type="text" id="funcion" name="funcion" placeholder="Ejemplo: sin(x), exp(x), x**2" required><br>
        <label for="expansion">Ingrese el punto de expansión (a): </label>
        <input type="number" id="expansion" name="expansion" required><br>    
        <label for="numero_n">Ingrese el número de términos (n): </label>
        <input type="number" id="numero_n" name="numero_n" required><br>
        <button type="submit">Calcular</button>
    </form>

    <h2>Resultado Serie De Taylor</h2>
    <div id="ResultadoSerieTaylor"></div>

    <script>
        // Función para manejar el envío del formulario
        document.getElementById("formulario").addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

            const funcion = document.getElementById("funcion").value;
            const expansion = parseFloat(document.getElementById("expansion").value);
            const numero_n = parseInt(document.getElementById("numero_n").value);

             // Verifica que todos los datos sean válidos
            if (isNaN(expansion) || isNaN(numero_n)) {
                alert("Por favor, ingrese valores válidos para todos los campos.");
                return;
            }

            const response = await fetch('/calcular_taylor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    funcion: funcion,
                    expansion: expansion,
                    numero_n: numero_n
                })
            });

            const data = await response.json();
            if (data.funcion_taylor) {
                document.getElementById("ResultadoSerieTaylor").innerText = data.funcion_taylor;
            } else {
                document.getElementById("ResultadoSerieTaylor").innerText = data.error;
            }
        });
    </script>
</body>
</html>
