<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serie mclaurin</title>
    <link rel="stylesheet" href="./static/teilorSerie.css">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <h1>Serie de Maclaurin</h1>

    <form id="formulario">
        <label for="funcion">Ingrese la función en términos de x: </label>
        <input type="text" id="funcion" name="funcion" placeholder="Ejemplo: sin(x), exp(x), x**2" required><br>    
        
        <label for="numero_n">Ingrese el número de términos (n): </label>
        <input type="number" id="numero_n" name="numero_n" required><br>
        <p id="errorN"></p> 
        <button id="mostrar" type="submit">Calcular</button>
    </form>

    <br>

    <h2 id="result">Resultado</h2>
    <div id="ResultadoSeriemclaurin"></div>

    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
            let numero_n = document.getElementById('numero_n')

            event.preventDefault();

            if (numero_n.value <= 0){
                document.getElementById('errorN').innerText = 'Por favor, ingrese un número mayor a 0'
                valido = false
            } else{
                valido = true
            }

            if (numero_n.value != '' && valido){
                let elemento = document.getElementById("result");
                elemento.style.display = "block";
                calcularSeriemclaurin(); 
            }          
        });

        async function calcularSeriemclaurin() {
            const funcion = document.getElementById("funcion").value;
            const numero_n = parseInt(document.getElementById("numero_n").value);
    
            const response = await fetch('/serie-mclaurin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    funcion: funcion,
                    numero_n: numero_n
                })
            });
    
            const data = await response.json();
            if (data.resultado_funcion) {
                document.getElementById("ResultadoSeriemclaurin").innerHTML = `$$ ${data.resultado_funcion} $$`;
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "ResultadoSeriemclaurin"]);
            } else {
                document.getElementById("ResultadoSeriemclaurin").innerText = data.error;
            }
        }
    </script>
    <br>
</body>
</html>
