<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serie Taylor</title>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <h1>Serie De Taylor</h1>

    <form id="formulario">
        <label for="funcion">Ingrese la función en términos de x: </label>
        <input type="text" id="funcion" name="funcion" placeholder="Ejemplo: sin(x), exp(x), x**2" required><br>
        <label for="expansion">Ingrese el punto de expansión (a): </label>
        <input type="number" id="expansion" name="expansion" required><br>    
        <label for="numero_n">Ingrese el número de términos (n): </label>
        <input type="number" id="numero_n" name="numero_n" required><br>
        <button type="submit">Calcular</button>
    </form>

    <h2>Resultado Serie De Taylor</h2>
    <div id="ResultadoSerieTaylor"></div>

    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
            event.preventDefault();
            calcularSerieTaylor(); 
        });

        async function calcularSerieTaylor() {
            const funcion = document.getElementById("funcion").value;
            const expansion = parseFloat(document.getElementById("expansion").value);
            const numero_n = parseInt(document.getElementById("numero_n").value) + 1;
    
            const response = await fetch('/serie-taylor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    funcion: funcion,
                    expansion: expansion,
                    numero_n: numero_n
                })
            });
    
            const data = await response.json();
            if (data.resultado_funcion) {
                document.getElementById("ResultadoSerieTaylor").innerHTML = `$$ ${data.resultado_funcion} $$`;
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "ResultadoSerieTaylor"]);
            } else {
                document.getElementById("ResultadoSerieTaylor").innerText = data.error;
            }
        }
    </script>
</body>
</html>
